<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Webcam Video Recorder</title>

    <script src="https://apis.google.com/js/api.js"></script>

    <link
      rel="icon"
      href="https://cdn.glitch.global/6c4b9a16-8a6d-48d2-8a04-0871d8320531/Seau%20rouge.image_event.011646.jpg?v=1701945240830"
      type="image/x-icon"
    />
  </head>
  <body>
    <h1>Webcam Video Recorder</h1>
    <video id="video" width="640" height="480" autoplay></video>
    <button id="recordButton">Record</button>
    <button id="stopButton" disabled>Stop</button>
    <button id="loadFile">load</button>
    <canvas id="canvas" style="display: none"></canvas>

  
  </body>
</html>
